<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PereMaria.GestorHotel.GlobalConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PereMaria.GestorHotel.GlobalConfig>
            <setting name="ApiUri" serializeAs="String">
                <value>http://vps-7c25fcfc.vps.ovh.ca/hotel/api/</value>
            </setting>
        </PereMaria.GestorHotel.GlobalConfig>
    </applicationSettings>
</configuration>